@import "variables";

/*стили для тeхнологий*/
.tech {
    margin-bottom: 100px;

    .row {
        row-gap: 18px;
        @media screen and (max-width: $sm) {
            row-gap: 10px;
        }
        .col-6 {
            @media screen and (max-width: $sm) {
                padding: 0 5px;
            }
        }
    }

    .tech__card {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
        padding: 55px 24px 24px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 0px 35px 2px #0c28361f;

        @media screen and (max-width: $lg) {
            padding-top: 40px;
        }

        .tech__card-img-wrap {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tech__card-name {
            color: #8a99a8;
            font-size: 18px;
        }
    }
}

/* конец стилей для технологий */
